@model InputProcessingResultViewModel

@{
    ViewData["Title"] = "Result Page";
}

<div>
    <form asp-controller="Home" asp-action="InputProcessingResult" method="get">
        <input name="input" type="text"/>
        <input type="submit" class="btn btn-primary" value="Process input"/>
    </form>
    <p>
        @Model.Output
    </p>
</div>